<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <table>
      <tr>
        <td><a href="/">หน้าแรก</a></td>
        <td><a href="/about">เกี่ยวกับ</a></td>
        <td><a href="/contact">ติดต่อกู</a></td>
      </tr>
    </table>